<div class="card bg-light text-dark card-body">
  <p class="">Історія кафедри починається 11 лютого 2002 року, коли була створена кафедра землевпорядкування та кадастру,
    яку очолив кандидат біологічних наук, доцент Ліщитович Леонід Іванович. Це були роки становлення кафедри, розробки
    навчальних та робочих навчальних планів відповідно до освітньо-кваліфікаційних характеристик та освітньо-професійних
    програм підготовки спеціалістів з землеустрою та кадастру. В цей період була створена навчальна геодезична лабораторія та
    комп’ютерний клас, в учбовий процес впроваджувалась одна з перших геоінформаційних систем для земельно-кадастрових робіт «Око».
    Подальшим етапом в історії кафедри було створення 30 вересня 2005 року кафедри геодезії та землевпорядних технологій шляхом об’єднання кафедри
    землевпорядкування та кадастру і кафедри геоінформаційних систем. Завідувачем кафедри з моменту її об’єднання було призначено кандидата технічних наук,
    доцента Гулевця Вадима Дмитровича. В цей період налагоджуються зв’язки кафедри з топографо-геодезичними, картографічними та
    землевпорядними організаціями та установами  м.Києва (Інститутом передових технологій, Науково-дослідним інститутом геодезії та картографії,
    Департаментом земельних ресурсів КМДА та іншими).</p>
  <p class="">
    Третім етапом розвитку кафедри стало роз’єднання 28 березня 2007 року існуючої кафедри на кафедру землевпорядних технологій та кафедру аерокосмічної геодезії.
    Очолив кафедру Гулевець Вадим  Дмитрович. У цей період зусилля кафедри спрямовуються на впровадження в практику землевпорядних та топографо-геодезичних вишукувань вітчизняних
    програмних продуктів та на  тісну кооперацію кафедри з розробниками цієї продукції  ДНВП «Геосистема». Була налагоджена співпраця з компанією КМС -  представником  корпорації
    Trimble Navigation (США), світового лідера по виробництву GPS, оптичних  і лазерних систем позиціонування; компанією ТВІС - першим в Україні супермаркетом супутникових знімків
    та іншими організаціями.</p>
</div>
