<div class="container-fluid">
  <div class="row">
    <header class="header col-md-12 card card-header bg-light" style="margin-bottom: 20px;">
      <p>asd</p>
    </header>

    <nav class="nav col-lg-3 navbar navbar-expand-xl d-flex align-items-start">
      <div class="card bg-light text-dark card-body" style="width: 100%;">
        <ul class="menu navbar-nav flex-column">
          <li *ngFor=" let link of links"><a class="nav-link" routerLink="{{link.link}}">{{link.name}}</a></li>
        </ul>
      </div>
    </nav>

    <main class="main col-lg-9" style="padding: 0;">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

