.nav {
  padding-top: 0;
  padding-left: 0;
  margin-right: 0;
}

.menu li a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

.menu li:hover {
  background-color: rgba(0, 0, 0, .05);
}

.container-fluid {
  padding: 0 40px;
}

.card {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 991px) {
  .nav {
    padding-right: 0;
    padding-bottom: 20px;
  }
}
